<!-- Navbar
  ================================================== -->
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
<!--       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> -->

      <a class="brand" href="#"><span class="blue">Breezi</span> Metrics</a>
      <span class="tagline">aka Hansel Jr.</span>

      <div class="nav-collapse collapse" id="main-menu">
<!--         <div class="auth pull-right">
            <img class="avatar" src="images/littke.png">
            <span class="name">Jonatan Littke</span><br/>
            <span class="links">
                <a href="#">Settings</a>
                <a href="#">Logout</a>
            </span>
        </div> -->
      </div>
    </div>
  </div>
</div>